@media (min-width: 1024px) {
    .nameImage {
        width: 100%;
        height: 65%;
        animation: 1s nameHeight ease;
    }
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
}


@keyframes nameHeight {
    0% {
        height: 70%;
    }
    100% {
        height: 65%;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}