@media (min-width: 1024px) {
    .nameImage {
        width: 100%;
        padding: 40px 40px 0 40px;
        animation: 1s nameHeight ease;
    }
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 30s linear infinite;
}


@keyframes nameHeight {
    0% {
        padding-bottom: 50px;
    }
    100% {
        padding-bottom: 0;
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}